@model List<ABLCloudStaff.Models.Core>

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/Site.css">
    <link rel="stylesheet" href="../../Content/bootstrap-switch.css">
    <script src="../../Scripts/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="../../Scripts/init_modal.js"></script>

    <title>CloudStaff</title>

    <script type="text/javascript">
        $(document).ready(function () {

            // Init toggle switches
            $("[name='staff-state']").bootstrapSwitch();

        });
    </script>

</head>
<body>
    <!-- Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CloudStaff", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Status Board", "Index", "Home")</li>
                    <li>@Html.ActionLink("Administration", "Admin", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <!-- We require a variable to uniquely identify each module (UserID) -->

        @foreach(var core in @Model)
        {
            <div class="col-md-2">
                <div class="container-fluid">
                    <div id="@core.UserID" class="panel-group staff-modules">
                        <div class="panel-default panel staff-modules-panels">
                            <div class="panel-heading staff-name">
                                <p class="staff-name-text">@core.User.FirstName @core.User.LastName</p>
                                <p><small>@core.Status.Name <br /> @core.Location.Name</small></p>
                            </div>
                            <div class="panel-body">
                                <div class="container-switch">
                                    <p>
                                    @if (core.Status.Name == "In Office")
                                    {
                                        <input type="checkbox" name="staff-state" disabled="true" checked data-on-color="success" data-off-color="warning" data-on-text="In" data-off-text="Out">
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="staff-state" disabled="true" data-on-color="success" data-off-color="warning" data-off-text="Out" data-on-text="In">
                                    }
                                    </p>
                                </div>
                                <input id="userID" type="hidden" value="@core.UserID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>  
        
    <div class="row">
        <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modal-title"></h4>
                    </div>
                    <!-- Modal Content -->
                    <div class="modal-body" style="padding:40px 50px;">
                        <form id="form-update-status-or-location" action="/Home/SubmitStatusOrLocationUpdate" method="post" role="form">
                            <div class="form-group">
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Status</label>
                                <br />
                                <!-- Status Dropdown -->
                                <select id="status-list" class="form-control" name="statusID">
                                    <!-- Statuses go here. -->
                                </select>
                                <!-- /Status Dropdown -->
                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="glyphicon glyphicon-map-marker"></span> Location</label>
                                <br />
                                <!-- Location Dropdown -->
                                <select id="location-list" class="form-control" name="locationID">
                                    <!-- Locations go here. -->
                                </select>
                                <!-- /Location Dropdown -->
                            </div>
                            <button id="update-singular-user-state" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-floppy-disk"></span> Save & Update</button>
                        </form>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /modal -->
     </div>
    </div>
    <!-- /row -->
</body>
</html>